/* Header Area css
============================================================================================ */

.header_top .header_top_inner .pull-left a {
  font-size: 12px;
}

.header_top .header_top_inner .pull-left a i {
  font-size: 18px;
}

.header_top .header_top_inner .pull-left a {
  font-weight: bold;
  margin-right: 5px;
}

.header_top .header_top_inner .pull-left a i:last-child {
  padding-left: 10px;
}

.header_top .header_top_inner .pull-left a:last-child {
  color: #ffb606;
}

.header_social li a {
  font-size: 12px;
  color: #ffb606;
  font-weight: bold;
}

.header_social li {
  margin: 0px;
}

.header_social li a {
  padding-left: 15px;
  padding-right: 15px;
}

.header_social li:last-child a {
  border-left: 2px solid #fff;
}


/* Main Slider Area css
============================================================================================ */

/* Alterar parâmetros no HTML */

div#slide-1587-layer-2 {
  font-weight: bold !important;
  font-size: 20px !important;
}


/* Service Area css
============================================================================================ */

.our_service_area {
  background-image: none;
}

.our_service_area h4 {
  font-weight: bold;
}

.our_service_item {
  margin-bottom: 45px;
}

.our_service_item_img {
  height: 130px;
}


/* Fun Fact Area css
============================================================================================ */

.fun_fact_area .fun_fact_box {
  margin-top: -70px;
}

.fun_fact_area {
  background: #ffb606;
}

.media {
  display: flex;
}

.counter-wrapper {
  display: inline-flex !important;
}


.fun_fact_area .fun_fact_box .media .media-body {
  margin: auto;
}

/* Our Resort Gallery Area
============================================================================================ */

.resort_gallery_inner {
  margin-bottom: 150px;
}

.resort_gallery_inner {
  padding: 0px 90px;
}


/* Footer Area
============================================================================================ */

.footer-title {
  color: #ffb606;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

.first_child {
  padding-top: 128px;
}

.media-body img {
  margin-bottom: 35px;
}

.footer_widget_area > .container > .row {
  display: flex;
  align-items: baseline;
}

.link_widget {
  padding: 0px;
}


/* TEMP */
.media-body h4 {
  font-size: 14px !important;
}





.blog_item .blog_text p {
  border: none !important;
}

.room_price_box {
  background-color: #fff !important;
}